body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 70px - 60px);
  padding: 1rem 0;
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.good {
  display: flex;
  flex-direction: column;
}

.good__content {
  flex-grow: 1;
}

.cart {
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 2;
}

@media (max-width: 767px) {
  .cart {
    bottom: 2.5rem;
    top: unset;
  }
}